.heading{
  background-color: lightblue;
}

#typing{
  height: 50px;
  width: 100%;
  font-size: 30px;
  border-radius: 5%;
}

.icon{
  margin: 20px;
  font-size: 30px;
}

#minutes, #wpm,#accuracy{
  font-size: 25px;
}
#second{
  font-size: 35px;
}
#milisecond{
  font-size: 15px;
}

.inspace{
  font-size: 40px;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 0%;
  height:5px;
  background-color: #4CAF50;
}
#myProgress2 {
  width: 100%;
  background-color: #ddd;
  /* transform: rotate(270deg); */
}

#myBar2 {
  width: 100%;
  height:10px;
  background-color: orange;
  /* transform: rotate(270deg); */
}


.Instructions{
  background-color: white;
}

img.car{
  height: 40px;
  width: auto;
}

 img.road {
    border: 1px solid #ddd;
    border-radius: 100px;
    padding: 5px;
    width: 100%;
    height: 75px;
    margin: 0;
    padding: 0;
}

.whitespace  {
  color: black;
  overflow: hidden;
  padding: 35px 0 40px 45px;
  background-color: #cfcfd1;
  border-radius: 10px 10px 0 0;
  border-color: black;
  user-select: none;
  font-size: 28px;
}

.current{
  color: white;
  background: green;
}

.wrong{
  color:red;
  background-color: #cfcfd1;
}

.correct{
  color: #098700;
  background-color: #cfcfd1;
}


.container-fluid{
  background-color: lightblue;
}
